@model WebApplication1.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "ViewAssignmentDetails";
}

<h2>ViewAssignmentDetails</h2>

<div>
    <h4>AssignmentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CourseID)
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>

@if (Model.Milestones.Count == 0)
{
    <div class="alert alert-info">
        No milestones are currently a part of this assignments!
    </div>
}
else
{
    <h3>Milestones in course</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Input</th>
                <th>Output</th>
        </thead>
        <tbody>
            @foreach (var milestones in Model.Milestones)
            {
                <tr>
                    <td>@milestones.Title</td>
                    <td>@milestones.Description</td>
                    <td>@milestones.weight</td>
                    <td>@milestones.Input</td>
                    <td>@milestones.Output</td>
                    <td>
                        @if (User.IsInRole("Administrators") || (User.IsInRole("Teachers")))
                    {
                            @Html.ActionLink("Edit", "EditMilestone", "Assignments", new { id = milestones.ID }, null)
                        }
                        @if (User.IsInRole("Administrators") || (User.IsInRole("Teachers")))
                    {
                            @Html.ActionLink("Delete", "DeleteMilestone", "Assignments", new { id = milestones.ID }, null)
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<p>
    @if (User.IsInRole("Teachers"))
    {
        @Html.ActionLink("Create Milestone", "CreateMilestone", "Assignments", new { id = Model.ID, @class = "btn btn-default" })
    }
</p>
<p>
    @Html.ActionLink("Back to List", "ViewCourseDetails", "Courses", new { id = Model.CourseID }, null)
</p>





