@model WebApplication1.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "ViewAssignmentDetails";
}

<h2>ViewAssignmentDetails</h2>

<div>
    <h4>AssignmentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CourseID)
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
     
    @Html.ActionLink("Back to List", "ViewCourseDetails", "Courses", new { id = Model.CourseID }, null)
    @if (User.IsInRole("Teachers"))
    {
        @Html.ActionLink("Edit", "EditAssignment", "Assignments", new { id = Model.ID })
        @Html.ActionLink("Create Milestone", "CreateMilestone", "Assignments", new { id = Model.ID })
    }
</p>
